<!DOCTYPE HTML>

<html>
	<head>
		<title>PMGvcar</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="static/assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
							<h2><strong> <img src="static\images\logo\logo_final.png" border="" width="110px" height="110px"> <br>  PMGVACAR  </strong></h2>
				<p>A nossa paixão é acelerar seu sucesso.</p>

				<!--<ul class="actions">
					-------------BOTÃO FUTURO--------------
					<li><a href="#" class="button special">Get started</a></li>
					-------------BOTÃO FUTURO--------------
				</ul>-->
				
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>Entenda mais</h2>
					</header>
					<div class="features">
						<div  class="feature" >
							<h5><i> <a href="diamante" class="fa fa-diamond"></a></i></h5>
							<h3>Cresça diarimente</h3>
							<p>O PMGvcar auxilia no crescimento diário do seu empreendimento.</p>
						</div>
						<div class="feature">
							<h5><i> <a href="mobdados" class="fa fa-copy"></i></a></h5>
							<h3>Mobilidade de dados</h3>
							<p>Manuseie seus dados de uma maneira fácil e pratica.</p>
						</div>
						<div class="feature">
							<h5><i> <a href="bi" class="fa fa-paper-plane-o"></i></a></h5>
							<h3>Business Intelligence</h3>
							<p>O Business Intelligence ajuda a sua empresa alcançar metas e tomar as melhores decisões.</p>
						</div>
						<div class="feature">
							<h5><i> <a href="bd" class="fa fa-save"></i></a></i></h5>
							<h3>Banco de dados</h3>
							<p>Trabalhe utilizando uma das melhores aplicações de Banco de Dados.</p>
						</div>
						<div class="feature">
							<h5><i> <a href="atclientes" class="fa fa-envelope-o"></i></a></i></h5>
							<h3>Atualize seus clientes</h3>
							<p>Sua empresa pode manter os clientes atualizados através do nosso aplicativo.</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="inner narrow">
					<header>
						<h2>fale conosco</h2>
					</header>
					<form class="grid-form" method="post" action="#">
						<div class="form-control narrow">
							<label for="name">Nome</label>
							<input name="name" id="name" type="text">
						</div>
						<div class="form-control narrow">
							<label for="email">Email</label>
							<input name="email" id="email" type="email">
						</div>
						<div class="form-control">
							<label for="message">Mensagem</label>
							<textarea name="message" id="message" rows="4"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Enviar mensagem" type="submit"></li>
							<br> 
							<br> 
							<br> 
							<a href="https://twitter.com/PmgVcar"><img src=".\imagem\contato\twitter logo.png" border="" width="40px" height="40px" alt="Imagem 1"></a>&nbsp;
						</ul>
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<p>Copyrith: PIM UNIP 4SEM - PMGVACAR (SITES QUE AJUDARAM NO DESENVOLVIMENTO= W3SCHOOL/ TEMPLATED)</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="static/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/assets/js/main.js"></script>

	</body>
</html>