<!DOCTYPE HTML>

<html>
	<head>
		<title>PMGvcar</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="static/assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
							<h2><strong> <img src="static\images\logo\logo_final.png" border="" width="110px" height="110px"> <br>  PMGVACAR  </strong></h2>
				<p>A nossa paixão é acelerar seu sucesso.</p>

				<!--<ul class="actions">
					<li><a href="#" class="button special">Get started</a></li>
					BOTÃO FUTURO
				</ul>-->
				
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2><a href="home">Entenda mais</a></h2>
					</header>
					<div class="features">
						<div  class="featurelong" >
							<h2>
								<i>
									<li>
										<a href="#" class="fa fa-save"></a>
									</li>
								</i>
							</h2>
							<h3>Banco de dados</h3>
							<p>Nosso banco de dados é eficiente e seguro, com backups diários que previnem qualquer perda de informação, permitindo que o usuário tenha acesso aos dados de forma íntegra e organizada, favorecendo uma excelente experiência com uma nova maneira de navegação que facilitará o alcance dos dados, impactando diretamente na produtividade da empresa.</p>
						</div>
					</div>
				</div>
			</section>
		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="inner narrow">
					<header>
						<h2><a href="home">fale conosco</a></h2>

							<br> 
							<a href="https://twitter.com/PmgVcar"><img src="static\images\contato\twitter logo.png" border="" width="40px" height="40px" alt="Imagem 1"></a>&nbsp;
						</ul>
					</header>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<p>Copyrith: PIM UNIP 4SEM - PMGVACAR (SITES QUE AJUDARAM NO DESENVOLVIMENTO= W3SCHOOL/ TEMPLATED)</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="static/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/assets/js/main.js"></script>

	</body>
</html>